
<h1 style="margin: 0 auto; width: 80%; font-size: 40px; align-items: center; text-align: center; margin-bottom: 50px;">DODAJ NOWY PRODUKT</h1>

<%= render "form", product: @product %>

<br>

<div style="margin: 0 auto; width: 80%; align-items: center; display: flex; justify-content: center;">
  <div style="padding: 10px"><%= link_to image_tag("arrow-left-circle.svg"), products_path ,title:"Wróć do Listy produktów" , class: "button-without-border-and-background" %></div>
</div>
